{% extends "header.html" %}
{% load static %}
{% block content %}
<p>
    <ul>
      <li>
        {% for x in Flag %}
        <li>{{x}}</li>
        <li><br></li>
        {% endfor %}
      </li>
    </ul>
    <span style = "padding-left:300px"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.1277026995226!2d-3.533587399999986!3d50.736120299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ddaac9dfe8069a7!2zNTDCsDQ0JzEwLjAiTiAzwrAzMicwMC45Ilc!5e0!3m2!1sen!2suk!4v1646147882762!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></span>
    </p>
    

    

{% endblock %}


